<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A fatec web app">
    <meta name="theme-color" content="#ee6e73" />
    <title>@ViewData["Title"] - Mvc</title>

    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- PWA: rel manifest -->
    <link rel="manifest" href="/manifest.json">

    <!-- IOS: icones meta tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Weather PWA">
    <link rel="apple-touch-icon" href="/imagens/logoPadrao.png">

</head>
<body>
    <partial name="_menu" controller="" />

    <main role="main">

        <div class="row">
            <div>
                <partial name="_CookieConsentPartial" />
                @RenderBody()
            </div>
        </div>
    </main>

    <partial name="_footer" />

    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('js/service-worker.js')
                .then(function (registration) {
                    console.log('Registration successful, scope is:', registration.scope);
                })
                .catch(function (error) {
                    console.log('Service worker registration failed, error:', error);
                });
        }

        navigator.serviceWorker.register('/js/service-worker.js', {
            scope: '/app/'
        });

    </script>
    @RenderSection("Scripts", false)

</body>
</html>